<h3>Im de Serve Component!</h3>
<p>Here's some details about server:{{serverid}} {{this.getServerStatus()}}</p>
<button (click)="onCreateServer()">Add Server</button>
<p>{{serverCreationStatus}}</p>
<input (input)="setServerName($event)">
<h3>Server name:{{serverName}}</h3>
